{% include 'templates/header.twig' %}

<div class="bg-white shadow-md rounded-lg p-6 mb-4">
    <h2 class="text-xl font-semibold mt-16">Informations de l'étudiant</h2>
    <form action="/submit-internship" method="post">
        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2" for="company_name">Nom</label>
            <input id="company_name" name="company_name" type="text" class="form-input appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2" for="skills">Prénom</label>
            <input id="skills" name="skills" type="text" class="form-input appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2" for="location">Centre</label>
            <input id="location" name="location" type="text" class="form-input appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 font-medium mb-2" for="promotions">Promotion</label>
            <input id="promotions" name="promotions" type="text" class="form-input appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
        </div>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">Soumettre</button>
    </form>
</div>

{% include 'templates/footer.twig' %}