{% block header %}
    <div class="flex-col">
        <!-- Sidebar -->
        <div class="ml-0 mt-0 bg-gray-200 p-4">
            <!-- Filter options -->
            <h2 class="text-lg font-semibold mb-1">Filter Options</h2>
            <div class="space-y-2">
                <!-- Example filter options -->
                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                        Category
                    </label>
                    <select id="category" name="category" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:border-indigo-500">
                        <option value=""> Votre centre ?</option>
                        <option value="1">Reims</option>
                        <option value="2">Paris</option>
                        <option value="3">Nancy</option>
                    </select>
                </div>
                <!-- Add more filter options here -->
                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                        Category
                    </label>
                    <select id="category" name="category" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:border-indigo-500">
                        <option value="">Quelle promotion ?</option>
                        <option value="1">A1</option>
                        <option value="2">A2</option>
                        <option value="3">A3</option>
                        <option value="3">A4</option>
                        <option value="3">A5</option>
                    </select>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

