<footer>
    <div class="flex absolute bottom-0 left-0 w-full gap-20 bg-gray-400 p-4">
        <div>
            <p>A propos :</p>
            <p>
                Bienvenue sur StageHub, la plateforme de recherche de stage créée en 2024<br>
                par une équipe d'étudiants ingénieurs passionnés.<br>
                Trouvez votre stage idéal dès aujourd'hui !
            </p>
        </div>
        <div>
            <p>Contactez-nous :</p>
            <p>
                Des questions ? Envoyez nous un message !<br>
                contact@stagehub.fr<br>
                Besoin d’un conseiller rapidement ? Appelez nous !<br>
                03 26 48 XX XX
            </p>
        </div>
    </div>
</footer>
