
    <footer class="bg-gray-800 text-white align-bottom mt-auto">
        <div class="container mx-auto px-6 py-4">
            <div class="md:flex md:justify-between md:items-center">
                <div class="text-xl font-bold md:text-2xl hover:text-gray-300">StageHub</a>
                </div>

                <div class="mt-4 md:mt-0">
                    <a href="/about" class="mx-1 text-gray-400 hover:text-gray-300">About</a>
                    <a href="/contact" class="mx-1 text-gray-400 hover:text-gray-300">Contact</a>
                    <a href="/privacy" class="mx-1 text-gray-400 hover:text-gray-300">Privacy</a>
                </div>

                <div class="mt-4 md:mt-0">
                    <a href="#" class="mx-1 text-gray-400 hover:text-gray-300">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" class="mx-1 text-gray-400 hover:text-gray-300">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="mx-1 text-gray-400 hover:text-gray-300">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-700 text-center">
            <p class="py-4">&copy; 2024 StageHub. All rights reserved.</p>
        </div>
    </footer>
