{% block header %}
    <header class="bg-blue-700 flex ">
        <div class="container mx-auto flex justify-between items-center  px-6 py-4">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <img class="w-36 h-auto sm:w-2/12" src="logoStageHub.png" alt="logo">
                    <p class="text-xl font-semibold ml-4">Le n°1 du recrutement pour les stages</p>
                </div>
                <div class="flex space-x-4">
                    <a href="/redirect" class="px-4 bg-white text-blue-700 rounded-lg hover:bg-blue-500">Page
                        d'accueil</a>
                    <a href="/disconnect" class="hover:text-gray-500">Se déconnecter</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}