<header>
    <div class="w-auto h-auto bg-white flex justify-between">
        <img class="w-36 h-auto sm:w-2/12" src="/image/logostagehub.png" alt="Logo StageHub">

        <p class="header-text">Le n°1 du recrutement pour les stages</p>
    </div>
    <div class="w-auto h-auto bg-blue-600 flex justify-between">
        <button type="button" class="m-4">Page d'accueil</button>
        <button type="button" class="m-4">Se déconnecter</button>
    </div>
</header>
