{% block header %}
    <img class="w-36 h-auto sm:w-2/12" src="../logoStageHub.png" alt="logo">

    <p class="header-text">Le n°1 du recrutement pour les stages </p>
    <div class="w-auto h-auto bg-blue-600 flex justify-between">
        <button class="m-4">Page d'accueil</button>
        <a href="/" class="m-4">Se déconnecter</a>
    </div>
{% endblock %}