{% include 'templates/header.twig' %}
{% block title %}Entreprise - StageHub{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6">Liste des entreprises</h2>
        <table class="w-full text-left table-auto border-collapse">
            <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 border">Nom de l'entreprise</th>
                <th class="px-4 py-2 border">secteur d'activité </th>
                <th class="px-4 py-2 border">Localisation</th>


            </tr>
            </thead>
            <tbody>
            <!-- Ajoutez autant de lignes que nécessaire -->
            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">Oracle corp </td>
                <td class="px-4 py-2 border">Logiciel d'entreprises</td>
                <td class="px-4 py-2 border">Etats-unis</td>

            </tr>
            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">Adobe corp</td>
                <td class="px-4 py-2 border">Multimedia et logiciel</td>
                <td class="px-4 py-2 border">Londres , Angleterre</td>

            </tr>
            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">airbnb lnc</td>
                <td class="px-4 py-2 border">Hotellerie et tourisme  </td>
                <td class="px-4 py-2 border">Paris, France</td>

            </tr>
            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">Tesla </td>
                <td class="px-4 py-2 border">Automobile et Energie</td>
                <td class="px-4 py-2 border">New York, États-Unis</td>

            </tr>
            </tbody>
        </table>
        <div class="flex justify-center space-x-4 mt-8">
            <a href="/publishCompany" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Ajouter une entreprise</a>
            <a href="#" class="bg-yellow-500 hover:bg-yellow-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Modifier une entreprise</a>
            <a href="#" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Supprimer une entreprise</a>
        </div>
    </div>

{% endblock %}
