<script src="https://cdn.tailwindcss.com"></script>
{% include 'templates/header.twig' %}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-6 flex items-center">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png" alt="Company Logo" class="w-24 h-24 rounded-full mr-6">
        <div class="bg-white shadow-md rounded-lg p-6">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Nom de l'entreprise</h3>
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Description de l'entreprise</h3>
            <p class="text-gray-600 mb-6">
                Bienvenue à Google France, ci-dessous nos offres de stage :
            </p>
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Stages proposés</h3>
            <div class="space-y-4">
                <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Dev mobile</h4>
                    <p class="text-gray-600">Amélioration de chrome pour téléphone android</p>
                </a>
                <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Dev web</h4>
                    <p class="text-gray-600">Amélioration de chrome</p>
                </a>
                <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                    <h4 class="text-lg font-semibold text-gray-800 mb-2">Cloud</h4>
                    <p class="text-gray-600">Sécurisation de l'infrastructure cloud</p>
                </a>
            </div>
        </div>
        <div class="flex justify-center ml-16 space-x-4 mt-8">
            <a href="/opinion" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
                Donnez votre avis sur cette entreprise !
            </a>
        </div>
    </div>
</div>

{% include 'templates/footer.twig' %}