<tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
    <td class="px-4 py-2 border">{% block prenom %}{% endblock %}</td>
    <td class="px-4 py-2 border">{% block nom %}{% endblock %}</td>
    <td class="px-4 py-2 border">{% block centre %}{% endblock %}</td>
    <td class="px-4 py-2 border">{% block promotion %}{% endblock %}</td>
</tr>