<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style/output.css">

</head>
<body>
<script src="https://cdn.tailwindcss.com"></script>

<img class="w-36 h-auto sm:w-2/12" src="https://media.discordapp.net/attachments/1201826487855231006/1202199268883173376/image.png?ex=65cc9651&is=65ba2151&hm=1dad9a1de109b21ebb2dc112848969e62451bf2b1314aa06216ab4c3f50a1d54&=&format=webp&quality=lossless&width=587&height=195"></img>
<p class=" header-text ">Le n°1 du recrutement pour les stages </p>
<div class="w-auto h-auto bg-blue-600 flex justify-between  ">
    <button class="m-4 ">Page d\'accueil</button>
    <button class="m-4 ">Se déconnecter</button>
</div>

</body>
</html>

