{% extends "templates/headerfooter.twig" %}

{% block title %}Stagehub - À propos de nous{% endblock %}

{% block content %}
<body class="bg-gray-100 font-sans antialiased">
<div class="max-w-xl mx-auto p-8 mt-14 mb-72">
    <h1 class="text-4xl font-bold text-center text-blue-600 mb-6">Bienvenue sur StageHub</h1>
    <p class="text-center text-gray-700">
        La plateforme ultime pour connecter les étudiants et les diplômés avec des opportunités de stages passionnantes et enrichissantes. Notre mission est de faciliter la transition des jeunes talents du monde académique au marché du travail en offrant un espace où ils peuvent découvrir, postuler et se préparer pour des stages dans divers secteurs et industries.
    </p>
    <p class="mt-4 text-center text-gray-700">
        En travaillant en étroite collaboration avec des entreprises, des organisations et des établissements d'enseignement, nous nous engageons à offrir un éventail d'opportunités qui répondent aux besoins et aux aspirations de nos utilisateurs. Rejoignez StageHub aujourd'hui et faites le premier pas vers une carrière réussie !
    </p>
</div>
</body>
{% endblock %}
