{% extends "../basePage.twig" %}

{% block title %}Entreprise - StageHub{% endblock %}

{% block content %}
    <div class="container mx-auto my-8">
        <h1 class="text-xl font-bold mb-4"> ici j'ai la page entreprise </h1>
        <!-- Contenu spécifique à la page entreprise ici -->
    </div>
{% endblock %}