{% extends 'templates/headerFooterSearch.twig' %}

{% block title %}Stagehub - Liste des offres de stages{% endblock %}

{% block content %}
    <div class="flex-col mt-8">
        <div class="ml-0 mt-0 bg-gray-200 p-4">
            <h2 class="text-lg font-semibold mb-1">Filter Options</h2>
            <div class="space-y-2">
                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                        Localisation
                    </label>
                    <select id="Localisation" name="category" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:border-indigo-500">
                        <option value=""> Veuillez choisir une ville.. </option>
                        <option value="1">Reims</option>
                        <option value="2">Paris</option>
                        <option value="3">Nancy</option>
                    </select>
                </div>

                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                        Domaine d'expertise
                    </label>
                    <select id="Domaine d'expertise" name="category" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:border-indigo-500">
                        <option value="">Quelle compétence cherchez-vous ?</option>
                        <option value="1">Informatique</option>
                        <option value="2">Vente</option>
                        <option value="3">marketing</option>
                        <option value="3">Communication</option>
                    </select>
                </div>

                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                        Promotion
                    </label>
                    <select id="Promotion" name="category" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:border-indigo-500">
                        <option value="">Quelle promotion recherchez-vous ?</option>
                        <option value="1">A1</option>
                        <option value="2">A2</option>
                        <option value="3">A3</option>
                        <option value="3">A4</option>
                        <option value="3">A5</option>
                    </select>
                </div>

                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                        Durée
                    </label>
                    <select id="Promotion" name="category" class="block w-full px-3 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:border-indigo-500">
                        <option value="">Quelle est la durée que vous recherchez ?</option>
                        <option value="1">1 mois</option>
                        <option value="2">2 mois</option>
                        <option value="3">3 mois</option>
                    </select>
                </div>


            </div>
        </div>
    </div>

    <style>
        /* Ajoutez ce style pour mettre en surbrillance la ligne sélectionnée */
        .selected {
            background-color: rgba(156, 163, 175);
        }
    </style>
    <script>
        function handleRowClick(event) {
            const row = event.currentTarget;
            const id = row.dataset.id;

            // Supprimer la classe "selected" de toutes les lignes
            const rows = document.querySelectorAll("tr.selected");
            rows.forEach((r) => r.classList.remove("selected"));

            // Ajouter la classe "selected" à la ligne actuelle
            row.classList.add("selected");

            // Gérez la sélection ici en utilisant l'identifiant (id)
            console.log(`La ligne ${id} a été sélectionnée.`);
        }
    </script>
</head>
<body>
<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Liste des offres de stage</h2>
    <div class="overflow-x-auto">
        <table class="w-full text-left table-auto border-collapse">
            <thead>
            <tr class="bg-gray-100">
                <th class="px-4 py-2 border">Nom de l'entreprise</th>
                <th class="px-4 py-2 border">Compétences demandées</th>
                <th class="px-4 py-2 border">Localisation</th>
                <th class="px-4 py-2 border">Promotions concernées</th>
                <th class="px-4 py-2 border">Durée du stage</th>
                <th class="px-4 py-2 border">Rémunération</th>
                <th class="px-4 py-2 border">Date de publication de l'offre</th>
                <th class="px-4 py-2 border">Nombre de places disponibles</th>

            </tr>
            </thead>
            <tbody>

            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">ABC Corp</td>
                <td class="px-4 py-2 border">Développement Web, Analyse de données</td>
                <td class="px-4 py-2 border">Paris, France</td>
                <td class="px-4 py-2 border">Étudiants en informatique</td>
                <td class="px-4 py-2 border">6 mois</td>
                <td class="px-4 py-2 border">Non rémunéré</td>
                <td class="px-4 py-2 border">2024-03-13</td>
                <td class="px-4 py-2 border">5</td>
            </tr>
            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">XYZ Entreprise</td>
                <td class="px-4 py-2 border">Marketing, Communication</td>
                <td class="px-4 py-2 border">New York, États-Unis</td>
                <td class="px-4 py-2 border">Étudiants en commerce</td>
                <td class="px-4 py-2 border">3 mois</td>
                <td class="px-4 py-2 border">1000$ par mois</td>
                <td class="px-4 py-2 border">2024-03-10</td>
                <td class="px-4 py-2 border">8</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="flex justify-center space-x-4 mt-8">
        <a href="/publishOffers" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Créer une offre de stage</a>
        <a href="#" class="bg-yellow-500 hover:bg-yellow-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Modifier une offre de stage</a>
        <a href="#" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Supprimer une offre de stage</a>
    </div>
</div>
{% endblock %}
