{% extends 'templates/headerFooterSearch.twig' %}

{% block title %}Stagehub - Liste des pilotes{% endblock %}

{% block filter %}
    <form id="filterForm">
        <input type="text" id="searchKeyword" name="search" placeholder="Rechercher...">
        <select id="localisation" name="localisation">
            <option value="">Choisir une localisation</option>
            <option value="Reims">Reims</option>
            <option value="Reims">nancy</option>
            <option value="Reims">stragboug</option>
            <option value="Reims">paris</option>


        </select>
        <select id="localisation" name="localisation">
            <option value="">Choisir la promotion assigné </option>
            <option value="Reims">A1</option>
            <option value="Reims">A2</option>
            <option value="Reims">A3</option>
            <option value="Reims">A4</option>
            <option value="Reims">A5</option>

        </select>
        <!-- Ajoutez d'autres filtres ici -->
        <button type="submit" id="applyFilters" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Appliquer les filtres
        </button>
    </form>



{% endblock %}

{% block content %}
    <style>
        /* Ajoutez ce style pour mettre en surbrillance la ligne sélectionnée */
        .selected {
            background-color: rgba(156, 163, 175);
        }
    </style>
    <script>
        function handleRowClick(event) {
            const row = event.currentTarget;
            const id = row.dataset.id;

            // Supprimer la classe "selected" de toutes les lignes
            const rows = document.querySelectorAll("tr.selected");
            rows.forEach((r) => r.classList.remove("selected"));

            // Ajouter la classe "selected" à la ligne actuelle
            row.classList.add("selected");

            // Gérez la sélection ici en utilisant l'identifiant (id)
            console.log(`La ligne ${id} a été sélectionnée.`);
        }
    </script>
<body>
<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6">Liste des pilotes</h2>
    <table class="w-full text-left table-auto border-collapse">
        <thead>
        <tr class="bg-gray-100">
            <th class="px-4 py-2 border">Nom</th>
            <th class="px-4 py-2 border">Prénom</th>
            <th class="px-4 py-2 border">Centre</th>
            <th class="px-4 py-2 border">Promotions assignées</th>
        </tr>
        </thead>
        <tbody>

        {% for key,user in data %}
            <tr class="border-b even:bg-gray-50 odd:bg-white cursor-pointer" data-id="1" onclick="handleRowClick(event)">
                <td class="px-4 py-2 border">{{ user[0] }}</td>
                <td class="px-4 py-2 border">{{ user[1] }}</td>
                <td class="px-4 py-2 border">{{ user[2] }}</td>
                <td class="px-4 py-2 border">{{ user[3] }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="flex justify-center space-x-4 mt-8">
        <a href="/creationPilot" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Créer un pilote</a>
        <a href="#" class="bg-yellow-500 hover:bg-yellow-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Modifier les informations d'un pilote</a>
        <a href="#" class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Supprimer un pilote</a>
    </div>
</div>
{% endblock %}

