{% extends "templates/headerfooter.twig" %}
{% block title %}Stagehub - Profil Administrateur{% endblock %}

{% block content %}
    <div class="bg-gray-100 flex flex-col mt-28 mb-80 ">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                <div class="flex items-center justify-center">
                    <h2 class="text-4xl font-extrabold text-gray-800">
                        Bonjour Admin
                    </h2>
                </div>

                <div class="mt-8 grid grid-cols-2 gap-4">
                    <a href="/listPilot" class="w-full flex justify-center py-4 px-8 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Gestion des pilotes
                    </a>

                    <a href="/listCompany" class="w-full flex justify-center py-4 px-8 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Gestion des entreprises
                    </a>

                    <a href="/listStudents" class="w-full flex justify-center py-4 px-8 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                        Gestion des comptes étudiants
                    </a>

                    <a href="/listOffers" class="w-full flex justify-center py-4 px-8 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
                        Gestion des offres de stage
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
