{% extends 'templates/headerfooter.twig' %}

{% block title %}Stagehub - Profil Pilote{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8 mt-28">
    <div class="bg-white shadow-md rounded-lg p-6 flex items-center">
        <img src="https://cdn.icon-icons.com/icons2/1369/PNG/512/-person_90382.png" alt="Profile" class="w-24 h-24 rounded-full mr-6">
        <div>
            <h2 class="text-2xl font-semibold text-gray-800">Daoudi Zak</h2>
            <p class="text-gray-600">Center: Reims</p>
            <p class="text-gray-600">Promotion: A2</p>
        </div>
    </div>

    <div class="flex justify-center space-x-4 mt-8 mb-80">
        <a href="/listOffers" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
            Gestion des offres de stages
        </a>
        <a href="/companyMenu" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
            Gestion des entreprises
        </a>
        <a href="/listStudents" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded ">
            Gestion des comptes étudiants
        </a>
    </div>
</div>
{% endblock %}
