{% extends 'templates/headerfooter.twig' %}

{% block title %}Stagehub - Détails entreprise{% endblock %}

{% block content %}
{#<div class="container mx-auto px-4 py-8">#}
    <div class="w-full max-w-4xl mx-auto mt-8">
        <div class="mx-auto px-4 py-8 bg-white shadow-md rounded-lg flex items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/1024px-Google_%22G%22_logo.svg.png" alt="Company Logo" class="w-24 h-24 rounded-full mr-6">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Nom de l'entreprise</h3>
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Description de l'entreprise</h3>
                <p class="text-gray-600 mb-6">
                    Bienvenue chez Google France, ci-dessous nos offres de stage :
                </p>
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Stages proposés</h3>
                <div class="space-y-4">
                    <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                        <h4 class="text-lg font-semibold text-gray-800 mb-2">Dev mobile</h4>
                        <p class="text-gray-600">Amélioration de chrome pour téléphone android</p>
                    </a>
                    <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                        <h4 class="text-lg font-semibold text-gray-800 mb-2">Dev web</h4>
                        <p class="text-gray-600">Amélioration de chrome</p>
                    </a>
                    <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                        <h4 class="text-lg font-semibold text-gray-800 mb-2">Cloud</h4>
                        <p class="text-gray-600">Sécurisation de l'infrastructure cloud</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full max-w-4xl mx-auto mt-8">
        <div class="mx-auto px-4 py-8 bg-white shadow-md rounded-lg flex items-center">
            <img src="https://pbs.twimg.com/profile_images/1059478732166041600/e-NnG3bx_400x400.jpg" alt="Company Logo" class="w-24 h-24 rounded-full mr-6">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Orange</h3>
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Description de l'entreprise</h3>
                <p class="text-gray-600 mb-6">
                    Bienvenue chez Orange, ci-dessous nos offres de stage :
                </p>
                <h3 class="text-xl font-semibold text-gray-800 mb-4">Stages proposés</h3>
                <div class="space-y-4">
                    <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                        <h4 class="text-lg font-semibold text-gray-800 mb-2">Réseaux</h4>
                        <p class="text-gray-600">Préparation des fibres optiques</p>
                    </a>
                    <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                        <h4 class="text-lg font-semibold text-gray-800 mb-2">Communication</h4>
                        <p class="text-gray-600">Community Manager</p>
                    </a>
                    <a href="#" class="bg-gray-100 p-4 rounded-lg block">
                        <h4 class="text-lg font-semibold text-gray-800 mb-2">Cloud</h4>
                        <p class="text-gray-600">Sécurisation de l'infrastructure cloud</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
