{% extends 'templates/headerfooter.twig' %}

{% block title %}Stagehub - Statistiques des étudiants{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8 flex flex-col"> <!-- Ajoutez les classes "flex" et "flex-col" -->
    <h2 class="text-2xl font-semibold mt-4 w-full text-center">Stats des étudiants</h2>
    <div class="h-96 mt-10 overflow-y-auto">
        <table class="w-full text-left table-auto border-collapse">
            <thead>
            <tr class="bg-gray-100 sticky top-0">
                <th class="px-4 py-2 border">Nom</th>
                <th class="px-4 py-2 border">Prénom</th>
                <th class="px-4 py-2 border">Centre</th>
                <th class="px-4 py-2 border">Promotion</th>
                <th class="px-4 py-2 border">Nombre de stage en wishlist</th>
            </tr>
            </thead>
            <tbody>

            <tr class="border-b even:bg-gray-50 odd:bg-white">
                <td class="px-4 py-2 border">Dupont</td>
                <td class="px-4 py-2 border">Jean</td>
                <td class="px-4 py-2 border">Reims</td>
                <td class="px-4 py-2 border">A3</td>
                <td class="px-4 py-2 border">4</td>
            </tr>
            <tr class="border-b even:bg-gray-50 odd:bg-white">
                <td class="px-4 py-2 border">Aerts</td>
                <td class="px-4 py-2 border">Leo</td>
                <td class="px-4 py-2 border">Reims</td>
                <td class="px-4 py-2 border">A2</td>
                <td class="px-4 py-2 border">10</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
